nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-page {
    @apply pt-2 pb-6 pr-6 pl-6 h-full my-auto overflow-y-auto;
  }

  .section-title {
    @apply text-3xl font-bold p-2 truncate;
  }

  .section-subtitle {
    @apply text-xl font-bold p-2 truncate;
  }
}
